//pagination
.c-pager  .c-pagination {
    text-align: center;
    margin: 0;
    padding: 0;
}

.c-pager .c-page-li {
    margin: 0 2px;
    padding: 0;
    display: inline-block;
    background: $dark-green;
    width: 50px;
    height: 50px;
    text-align: center;
    position: relative;
}

.c-pager .c-page-a{
    vertical-align: middle;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display:table;
    color: $white;
    text-decoration: none;
}

.c-pager .c-page-span{
    display:table-cell;
    vertical-align:middle;
}

.c-pager .c-page-a:hover,
.c-pager .c-page-a.active{
    color: $black;
    background: #ccffcc;
}

@include sp(){
    .c-pager .c-page-li{
        display: none;
    }

    .c-pager .c-pagination .c-page-li.pre,
    .c-pager .c-pagination .c-page-li.next{
        display: inline-block;
        width: 40%;
        height: 50px;
        text-align: center;
    }

    .c-pager .c-pagination .c-page-li.pre .c-page-a,
    .c-pager .c-pagination .c-page-li.next .c-page-a{
        width: 100%;
        text-align: center;
    }

    .c-pager .c-pagination .c-page-li.pre .c-page-span::after{
        content: "　前の3件へ";
    }

    .c-pager .c-pagination .c-page-li.next .c-page-span::before{
        content: "次の3件へ　";
    }

}
