//topページよくある質問
.c-question{
    background: $white;
    width: 100%;
    height: 72px;
    box-sizing: border-box;
    border: 1px solid gray;
    padding: $padding-m;
    @include sp(){
        height: auto;
    }
}
