//ログイン後のタイトル
.c-title{
    font-size: 20px;
    color: $dark-green;
    width: 100%;
    border-bottom: 3px solid $dark-green;
    padding-bottom: $padding-s;
    box-sizing: border-box;
    margin-bottom: $margin-ll;
}
